/* ********** Buttons "Explorer" & "Commander ********** */

.btn {
    background: radial-gradient(ellipse farthest-corner at top left, $secondary-color, $primary-color);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.6rem 0.5rem 0 rgba(92, 90, 90, 0.1);
    &:hover {
        opacity: 0.8;  
        box-shadow: 0.2rem 0.4rem 0.5rem 0.5rem rgba(58, 57, 57, 0.1);
    }
}