/*Coeurs hover*/

.fa-heart {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    &:hover {
        animation: heartFilling 1s forwards;
    }
}

@keyframes heartFilling {
    0% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 10%, white 0%);
        @include heartBg;
    }

    20% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 20%, white 10%);
        @include heartBg;
    }

    30% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 30%, white 20%);
        @include heartBg;
    }

    40% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 40%, white 30%);
        @include heartBg;
    }

    50% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 50%, white 40%);
        @include heartBg;
    }

    60% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 60%, white 50%);
        @include heartBg;
    }

    70% {
        background: linear-gradient(0deg,$secondary-color, $primary-color 70%, white 60%);
        @include heartBg;
    }

    80% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 80%, white 70%);
        @include heartBg;
    }

    90% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 90%, white 80%);
        @include heartBg;
    }
    
    100% {
        background: linear-gradient(0deg, $secondary-color, $primary-color 100%);
        @include heartBg;
    }
}