/*CHARGEMENT*/
.loading {
  background: $bloc-bg-color;
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 500%;
  top: 0;
  left: 0;
  z-index: 2;
  transform-origin:top;
  transform: scale(0);
  animation: loaderAppaer 3s;
    &__spinner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15rem;
      &__title {
        font-family: Shrikhand;
        font-size: 3rem;
        padding-bottom: 3rem;
      }
      &__ball {
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
          &__item {
            width: 20px;
            height: 20px;
            border-radius: 50%;

              &_primaryColor {
                  background: $primary-color;
              }
              &_secondaryColor {
                  background: $secondary-color;
              }
              &_tertiaryColor {
                  background: $tertiary-color;
              }
              &:nth-child(1) {
                  animation: rebound 0.4s alternate infinite;
              }
              &:nth-child(2) {
                  animation: rebound 0.4s 0.1s alternate infinite;
              }
              &:nth-child(3) {
                  animation: rebound 0.4s 0.2s alternate infinite;
              }
          } 
      }
   }
}

@keyframes loaderAppaer {
  0% {
      opacity: 1;
      transform: scale(1);
  }
   60% {
      opacity: 1;
      transform: scale(1);
  }
   70% {
      opacity: 1;
      transform: scale(1);
  }
  90% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
      display: none;
  }
} 

@keyframes rebound {
  0% {
      transform: translate3d(0, 10px, 0);
  }
  100% {
      transform: translate3d(0, -20px, 0);
  }
}