@mixin title-font {
    font-family: 'Shrikhand', cursive;
}

@mixin text-font {
    font-family: 'Roboto', sans-serif;
}

@mixin heartBg {
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}